{
  "endOfLine": "lf",
  "arrowParens": "avoid",
  "bracketSameLine": true,
  "bracketSpacing": false,
  "singleQuote": false,
  "trailingComma": "none",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 80
}
